/* loader */
.spinner{
    width:60px;
    height:60px;
    border:6px solid rgba(255,255,255,.2);
    border-top:6px solid white;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{
from{
transform:rotate(0deg);
}
to{
transform:rotate(360deg);
}
}

/* click pulse */
@keyframes clickPulse{
0%{
transform:scale(1);
}
50%{
transform:scale(1.05);
}
100%{
transform:scale(1);
}
}
.click-button:hover #clickImage{
animation:clickPulse .6s infinite;
}
