body{
    font-family:Arial,sans-serif;
    overflow:hidden;
    background:#111;
    color:white;
}

.hidden{
    display:none !important;
}

#game{
    width:100vw;
    height:100vh;

    display:flex;
    flex-direction:column;

    position:relative;
}

/* BACKGROUND */

#background{
    position:absolute;

    inset:0;

    background-size:cover;
    background-position:center;

    z-index:-1;

    filter:brightness(.45);
}

/* HUD */

.hud{
    display:flex;

    justify-content:space-between;

    padding:20px;

    backdrop-filter:blur(8px);

    background:rgba(0,0,0,.25);
}

.left h1{
    font-size:32px;
}

#eraName{
    opacity:.8;
}

.right{
    display:flex;

    gap:25px;

    font-size:20px;
}

/* CENTER */

.game-area{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;
}

/* CLICK BUTTON */

.click-button{

    background:none;

    border:none;

    cursor:pointer;
}

#clickImage{

    width:260px;

    height:260px;

    object-fit:contain;

    user-select:none;

    transition:.15s;
}

.click-button:active #clickImage{

    transform:scale(.93);
}

/* SHOP */

.shop{

    width:100%;

    height:250px;

    overflow-y:auto;

    background:rgba(0,0,0,.45);

    padding:20px;
}

.shop h2{

    margin-bottom:20px;
}

.upgrade{

    background:rgba(255,255,255,.08);

    padding:15px;

    border-radius:12px;

    margin-bottom:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.upgrade button{

    border:none;

    padding:10px 20px;

    border-radius:10px;

    cursor:pointer;

    font-weight:bold;
}
